@font-face {
  font-family: 'toutiao';
  /* Project id 3134474 */
  src: url('//at.alicdn.com/t/font_3134474_nw5wejegvdl.woff2?t=1641896863710') format('woff2'), url('//at.alicdn.com/t/font_3134474_nw5wejegvdl.woff?t=1641896863710') format('woff'), url('//at.alicdn.com/t/font_3134474_nw5wejegvdl.ttf?t=1641896863710') format('truetype');
}
.toutiao {
  font-family: 'toutiao' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-dianzan2:before {
  content: '\e601';
}
.toutiao-wuwangluo:before {
  content: '\e602';
}
.toutiao-yanzhengma:before {
  content: '\e603';
}
.toutiao-youjiantou:before {
  content: '\e604';
}
.toutiao-pinglun:before {
  content: '\e605';
}
.toutiao-shouye:before {
  content: '\e606';
}
.toutiao-zuopin:before {
  content: '\e607';
}
.toutiao-zuojiantou:before {
  content: '\e608';
}
.toutiao-lishi:before {
  content: '\e609';
}
.toutiao-wenda:before {
  content: '\e60a';
}
.toutiao-yuedu:before {
  content: '\e60b';
}
.toutiao-pinglun1:before {
  content: '\e60c';
}
.toutiao-guanbi:before {
  content: '\e60d';
}
.toutiao-lishi1:before {
  content: '\e60e';
}
.toutiao-shouji:before {
  content: '\e60f';
}
.toutiao-dianzan:before {
  content: '\e610';
}
.toutiao-shoucang:before {
  content: '\e611';
}
.toutiao-gengduo:before {
  content: '\e612';
}
.toutiao-dianzan21:before {
  content: '\e613';
}
.toutiao-shipin:before {
  content: '\e614';
}
.toutiao-wode:before {
  content: '\e615';
}
.toutiao-fenxiang:before {
  content: '\e616';
}
.toutiao-wenda1:before {
  content: '\e617';
}
.toutiao-yanzhengma1:before {
  content: '\e618';
}
.toutiao-youjiantou1:before {
  content: '\e619';
}
.toutiao-sousuo:before {
  content: '\e61a';
}
.toutiao-wuwangluo1:before {
  content: '\e61b';
}
.toutiao-shanchu:before {
  content: '\e61c';
}
.toutiao-zuojiantou1:before {
  content: '\e61d';
}
.toutiao-shouye1:before {
  content: '\e61e';
}
.toutiao-zuopin1:before {
  content: '\e61f';
}
.toutiao-yuedu1:before {
  content: '\e620';
}
